#background {
  background-image: url('../assets/car-couple-daylight-1254752.jpg');

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {

  margin-top: 50px;
}
nav {
  margin-bottom: 0;
}
