
.default-color {
  color: #2BBBAD;
}

.btn-default {
  background-color: #2BBBAD;
}

.fontO {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

#registerRight {
  position: fixed;
  margin-top: 15%;
  margin-left: 55%;
  color: #2BBBAD;
  width: 40%
}

#registerLeft {
  position: fixed;
  margin-top: 15%;
  margin-left: 5%;
  width: 50%
}

#registerBtn {
  float: right;
}

#welcome {
  position: fixed;
  margin-top: 5%;
  margin-left: 5%;
}
