<div id="welcome" class="container-fluid mt-sm-6">
  <div class="row">
    <div class="col default-color fontO">
      <h3>Willkommen bei MyCargonaut</h3>
      <h2>Trage hier bitte deine Kontaktdaten ein.</h2>
    </div>
  </div>
</div>

<div id="registerRight" class="container-fluid">
  <div class="row mt-2">
    <form>

      <div class="form-row">
        <div class="col-lg md-form default-color">
          <input id="username" class="form-control form-control-sm " type="text" placeholder="Username" name="username" [(ngModel)]="username">
        </div>
        <div class="col-lg md-form default-color">
          <input id="password" class="form-control form-control-sm ml-lg-4" type="password" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
      </div>
      <br>


      <div class="form-row">
        <div class="col-lg md-form default-color">
          <input id="firstname" class="form-control form-control-sm " type="text" placeholder="Vorname" name="firstName" [(ngModel)]="firstName">
        </div>
        <div class="col-lg md-form default-color">
          <input id="lastname" class="form-control form-control-sm ml-lg-4" type="text" placeholder="Nachname" name="lastName" [(ngModel)]="lastName">
        </div>
      </div>
      <br>

      <div class="form-row">
        <div class="col-lg md-form default-color">
          <input id="street" class="form-control form-control-sm " type="text" placeholder="Straße" name="street" [(ngModel)]="street">
        </div>
        <div class="col-lg md-form default-color">
          <input id="number" class="form-control form-control-sm ml-lg-4" type="text" placeholder="Hausnummer" name="houseNumber" [(ngModel)]="houseNumber">
        </div>
      </div>
      <br>

      <div class="form-row">
        <div class="col-lg md-form default-color">
          <input id="city" class="form-control form-control-sm " type="text" placeholder="Stadt" name="city" [(ngModel)]="city">
        </div>
        <div class="col-lg md-form default-color">
          <input id="zip" class="form-control form-control-sm ml-lg-4" type="text" placeholder="Postleitzahl" name="zip" [(ngModel)]="zip">
        </div>
      </div>
      <br>

      <div class="form-row">
        <div class="col-lg md-form default-color">
          <input id="mail" class="form-control form-control-sm " type="text" placeholder="E-Mail" name="mail" [(ngModel)]="mail">
        </div>
        <div class="col-lg md-form default-color">
          <input id="phone" class="form-control form-control-sm ml-lg-4" type="text" placeholder="Handynummer" name="phone" [(ngModel)]="phone">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg form-sm default-color">
          <input id="bio" class="form-control form-control-lg " type="text" placeholder="Erzähl der Community etwas über dich" name="bio" [(ngModel)]="bio">
        </div>
      </div>
      <br>
    </form>
  </div>
</div>

<div id="registerLeft" class="container-fluid">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="pkw" name="pkw" [(ngModel)]="pkw">
    <label class="form-check-label" for="pkw">Besitzt du einen PKW?</label>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="transporter" name="transporter" [(ngModel)]="transporter">
    <label class="form-check-label" for="transporter">Einen Transporter?</label>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="lkw" [(ngModel)]="lkw">
    <label class="form-check-label" for="lkw">Vielleicht einen LKW?</label>
  </div>
<br>
  <!--<form>
    <div class="form-group mt-lg-5">
      <label for="exampleFormControlFile1">Lade ein Profilbild hoch.</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>-->

  <div class="form mt-2">
    <input type="radio" id="radio1" value="girl" [(ngModel)]="radio1">
    <label for="radio1"><img id="imgGirl" src={{imgGirl}} height="50px" width="100px"></label>
    <input type="radio" id="radio2" value="boy" [(ngModel)]="radio2">
    <label for="radio2"><img src={{imgBoy}} height="50px" width="150px"></label>
  </div>
  <br>

  <mat-form-field class="mt-lg-4">
    <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum" name="birthdate" [(ngModel)]="birthdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<button id="registerBtn" class="btn default-color btn-md ml-lg-3" data-toggle="button" (click)="addUser()">Registrier dich!</button>
<br>


