<div id="login" class="container d-flex justify-content-center">
  <div class="row mt-2">
    <form>

      <div class="form-row">
        <div class="col-lg-5 md-form default-color">
          <input id="username" class="form-control form-control-sm " type="text" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="col-lg-5 md-form default-color">
          <input id="password" class="form-control form-control-sm " type="password" placeholder="Password" [(ngModel)]="password">
        </div>
      </div>
      <br>


      <div class="form-row">
        <div class="col-lg-5 md-form default-color">
          <input id="firstname" class="form-control form-control-sm " type="text" placeholder="Vorname" [(ngModel)]="firstname">
        </div>
        <div class="col-lg-5 md-form default-color">
          <input id="lastname" class="form-control form-control-sm " type="password" placeholder="Nachname" [(ngModel)]="lastname">
        </div>
      </div>
      <br>
    </form>
          <button id="register" class="btn default-color btn-sm ml-3" (click)="add()">Login</button>
</div>
</div>
