
.background {
  background: url('../../../assets/baggage-blur-bokeh-714915.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  padding-top: 180px;
}

h5 {
  font-size: 1em;
}

#login {
  position: fixed;
  margin-top: 2.5%;
  margin-left: 75%;
}
#loginBtn {
  margin-right: 2%;
  float: right;
}

.textGrey {
  color: dimgrey;
}
#searchTrip {
  position: fixed;
  margin-top: 10%;
  color: #2BBBAD;
}

#searchBtn {
  float: right;
}

#welcome {
  position: fixed;
  margin-top: 10%;
}

#registerRequest {
  position: fixed;
  margin-top: 25%;
}

.default-color {
  color: #2BBBAD;
}

.btn-default {
  background-color: #2BBBAD;
}

.fontO {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
