#register {
  margin-top: 10%;
}

.default-color {
  color: #2BBBAD;
}

.btn-default {
  background-color: #2BBBAD;
}

.fontO {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

#register {
  position: fixed;
  margin-top: 20%;
  color: #2BBBAD;
  width: 100%
}

#welcome {
  position: fixed;
  margin-top: 10%;
}
